.agregar_profesor32{ background-image:url(../images/agregar_profesor32+.png) !important;}
.modificar_profesor32{ background-image:url(../images/modificar_profesor32.png) !important;}
.eliminar_profesor32{ background-image:url(../images/eliminar_profesor32.png) !important;}
.ayuda32{ background-image:url(../images/ayuda32.png) !important;}
.buscar32{ background-image:url(../images/buscar32.png) !important;}
