.agregar_profesor32{ background-image:url(../images/agregar_profesor32+.png) !important;}
.modificar_profesor32{ background-image:url(../images/modificar_profesor32.png) !important;}
.desabilitar_profesor32{ background-image:url(../images/desabilitar_profesor32.png) !important;}
.habilitar_profesor32{ background-image:url(../images/habilitar_profesor32.png) !important;}
.agregar_estudiante32{ background-image:url(../images/agregar_estudiante32.png) !important;}
.modificar_estudiante32{ background-image:url(../images/modificar_estudiante32.png) !important;}
.desabilitar_estudiante32{ background-image:url(../images/desabilitar_estudiante32.png) !important;}
.habilitar_estudiante32{ background-image:url(../images/habilitar_estudiante32.png) !important;}
.ayuda32{ background-image:url(../images/ayuda32.png) !important;}
.buscar32{ background-image:url(../images/buscar32.png) !important;}
.buscar_por{ background-image:url(../images/buscar_por.png) !important;}
.importar32{ background-image:url(../images/importar32.png) !important;}
.exportar32{ background-image:url(../images/exportar32.png) !important;}
.guardar32{ background-image:url(../images/guardar32.png) !important;}
.cancelar32{ background-image:url(../images/cancelar32.png) !important;}
