.access{ background-image:url(../images/themes/access.png) !important;}
.black{ background-image:url(../images/themes/black.png) !important;}
.blue{ background-image:url(../images/themes/blue.png) !important;}
.chocolate{ background-image:url(../images/themes/chocolate.png) !important;}
.gray{ background-image:url(../images/themes/gray.png) !important;}
.green{ background-image:url(../images/themes/green.png) !important;}
.indigo{ background-image:url(../images/themes/indigo.png) !important;}
.midnight{ background-image:url(../images/themes/midnight.png) !important;}
.olive{ background-image:url(../images/themes/olive.png) !important;}
.access{ background-image:url(../images/themes/access.png) !important;}
.peppermint{ background-image:url(../images/themes/peppermint.png) !important;}
.purple{ background-image:url(../images/themes/purple.png) !important;}
.red{ background-image:url(../images/themes/red.png) !important;}
.slate{ background-image:url(../images/themes/slate.png) !important;}
.slickness{ background-image:url(../images/themes/slickness.png) !important;}
.silvercherry{ background-image:url(../images/themes/silvercherry.png) !important;}
.vista{ background-image:url(../images/themes/vista.png) !important;}
.univalle{ background-image:url(../images/themes/silvercherry.png) !important;}
.quizz{ background-image:url(../images/themes/blue.png) !important;}
